{% extends "base.html" %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-4">
            <div class="card h-100">
                <img src="/static/img/Products/t1.png" class="card-img-top"
                    alt="Hollywood Sign on The Hill" />
                <div class="card-body">
                    <h5 class="card-title">Tenis Duramo SL</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xl-4">
            <div class="card h-100">
                <img src="/static/img/Products/t2.png" class="card-img-top" alt="Palm Springs Road" />
                <div class="card-body">
                    <h5 class="card-title">Tenis Samba OG</h5>
                    <p class="card-text">This is a short card.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xl-4">
            <div class="card h-100">
                <img src="/static/img/Products/t3.png" class="card-img-top"
                    alt="Los Angeles Skyscrapers" />
                <div class="card-body">
                    <h5 class="card-title">Tenis Samba OG</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xl-4">
            <div class="card h-100">
                <img src="/static/img/Products/t4.png" class="card-img-top" alt="Skyscrapers" />
                <div class="card-body">
                    <h5 class="card-title">Tenis adidas Grand Court TD Lifestyle Court Casual</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xl-4">
            <div class="card h-100">
                <img src="/static/img/Products/t5.png" class="card-img-top" alt="Skyscrapers" />
                <div class="card-body">
                    <h5 class="card-title">Tenis Samba Og</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xl-4">
            <div class="card h-100">
                <img src="/static/img/Products/t6.png" class="card-img-top" alt="Skyscrapers" />
                <div class="card-body">
                    <h5 class="card-title">Tenis Response Runner</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}